body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-studio-header {
  color: #2e2f42;
}

.navigation {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.contacts-section {
  font-style: normal;
}

.contact {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;

  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-btn {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.dscr {
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  background-color: #f4f4fd;
}

.title {
  text-transform: capitalize;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-profile {
  background-color: #ffffff;
}

.portfolio-title {
  text-transform: capitalize;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.footer-section {
  background-color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.slogan {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
